* text=auto eol=lf
*.md text eol=lf whitespace=-blank-at-eol
*.java text eol=lf
*.xml text eol=lf
*.gradle text eol=lf
*.properties text eol=lf
*.ps1 text eol=lf
gradlew text eol=lf
*.bat text eol=crlf
*.apk binary
*.png binary
*.jar binary
*.wav binary
*.jpg binary
